.App {
  text-align: center;
}

.part1{
  background-color: #538cc6;
  color:white;
  padding:0.012px;
}

h4{
  font-family: 'Concert One', cursive;
  font-size: 30px;
}

.combo{
  color:yellow;
}

.comboNum {
  color: yellow;
}

.easy {
  color:#538cc6;
}

.hard {
  color:#538cc6;
}

.shuffle {
  color: #538cc6;
}

.easy:hover{
  background-color:#538cc6;
  color:white; 
}

.hard:hover{
  background-color:#538cc6;
  color:white; 
}

.shuffle:hover{
  background-color:#538cc6;
  color:white;  
}

.part3{
  background-color: black;
}

.buttons { 
  border:none;
  color:black;
  padding: 45.5px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 16px 8px;
  cursor: pointer;
  border-radius: 12px;
}

.cliked{
  color:white;
  background-color:#538cc6;
}

.r{
  color:rgb(255,0,0);
}

.g{    
  color:rgb(0,255,0);
}

.b{
  color:rgb(0,0,255);
} 

.ulStyle {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-evenly;
}