#part1{
  background-color: #538cc6;
  color:white;
}

h4{
  font-family: 'Concert One', cursive;
  font-size: 30px;
}

li{
  color:#538cc6;
  cursor: pointer;
}

#easy{
 margin-right: 5px; 
}

#hard{
  margin-left: 5px;
}

#easy:hover{
  background-color:#538cc6;
  padding-bottom: 1.5px;
  padding-top: 9.5px;
  padding-right: 3px;
  padding-left:3px;
  color:white; 
}

#hard:hover{
  background-color:#538cc6;
  padding-bottom: 1.5px;
  padding-top: 9.5px;
  padding-right: 3px;
  padding-left:3px;
  color:white; 
}

#shuffle:hover{
  background-color:#538cc6;
  padding-bottom: 1.5px;
  padding-top: 9.5px;
  color:white;  
}

#GUESSING{
  margin-bottom: 10px;
}

#part3{
  background-color: black;
}

#part4{
  padding-bottom:57px;
}

#combo{
  color:yellow;
}

#comboNum {
  color: rgb(149, 9, 140);
}

.nav {
  margin-bottom: 10px;
}

.buttons { 
  border:none;
  color:black;
  padding: 59px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 16px 8px;
  cursor: pointer;
  border-radius: 12px;
}

@media screen and (max-width: 484px) {
  h1{
    font-size: 20px;
  }
} 

@media screen and (max-width: 410px) {
  .buttons  
  {
    padding: 39px;
  };
  li{
    font-size: 13px;
  }
  #part4{
    padding-bottom: 80px;
  }
} 

@media screen and (max-width: 321px) {
  .buttons  
  {
    padding: 29px;
  };
  li{
    font-size: 8px;
  }
  #part4{
    padding-bottom: 130px;
  }
} 

@media screen and (max-width: 259px) {
  h1{
    font-size: 17px;
  }
} 

.cliked{
  color:white;
  background-color:#538cc6 ;
}

#r{
  color:rgb(255,0,0);
}

#g{    
  color:rgb(0,255,0);
}

#b{
  color:rgb(0,0,255);
} 